<section class="inline-flex w-full flex-wrap">
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
  @include('component/card')
</section>

