<section>
  <div>
    <h3>
      Catégories
    </h3>
    <div class="my-2 inline-flex w-11/12 flex-wrap">
      <a href="#">
        <div
          class="w-auto border-[#CE0000] border hover:border-[#171B99] rounded-3xl px-2 py-1 m-1 text-xs cursor-pointer"
        >
          cosmetique
        </div>
      </a>
    </div>
  </section>
