@component('component/layouts/app')

  @slot('title')
    catalogue
  @end
  @slot('main')
    @include('component/category-section')
    @include('component/card-section')
    @include('component/pagination')
  @endslot
@end
