<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <title>
      Document
    </title>
  </head>
  <body class=" flex justify-center items-center">
    <header
      class="m-5 rounded-4xl border border-[#000000] inline-flex justify-between p-5  w-10/12 flex-row items-center  lg:p-5 h-15 "
    >
      <div class="inline-flex w-1/2">
        <div class="w-2/12">
          <a href="#">
            <img src="/images/Lecacy-market.png" alt="legacy-market" />
          </a>
        </div>
        <nav class="hidden lg:inline-flex gap-10 ml-20 text-base justify-center w-10/12">
          <a href="#">catalogue</a>
          <a href="#">créateurs locaux</a>
          <a href="#">blog</a>
        </nav>

      </div>

      <div class="hidden lg:inline-flex gap-7 w-2/12">
        <div>
          Inscription
        </div>
        <div class="btn-primary">
          Connexion
        </div>

      </div>
    </header>
  </html>
